.row {
  display: flex;
  height: 100px;
  margin: 10px;
  border: 1px solid #413832;
}

.cover {


  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  .img {
    max-height: 100%;
    max-width: 100%;
  }
}

.description{
  flex: 70%;
  padding: 10px;

  .title{
    text-align: center;
    margin: 0px;
  }
  .reactions-wrapper {
    display: flex;

    p{
      padding: 10px;
    }
  }

}
