<div class="card" [style.transform]="'rotate('+ transform + 'deg)'" >
  <img *ngIf="book.cover" [src]="book.cover" onerror="this.style.display='none'"/>
  <mat-icon *ngIf="!book.cover">image</mat-icon>
  <h2>{{book.title}}</h2>
  <app-rating (ratingUpdatew)="addOrUpdateBookRate($event)" [itemId]="book.id" [ratingValue]="book.rating"></app-rating>
  <p class="review">Review: {{book.reviewsNumber}}</p>
  <button (click)="bookView()" class="btn" mat-raised-button color="primary">Read More</button>

  <div class="action">
    <mat-icon (click)="bookEdit()" class="icon"> edit</mat-icon>
    <mat-icon (click)="bookDelete()" class="icon">delete</mat-icon>
   </div>
</div>
