<div class="card" [style.transform]="'rotate('+ transform + 'deg)'" ><img src="https://picsum.photos/id/380/600/300"/>
  <h2>{{book.title}}</h2>
  <app-rating [itemId]="book.id" [ratingValue]="book.rating"></app-rating>
  <p class="review">Review: {{book.reviewsNumber}}</p>
  <button (click)="bookView()" class="btn" mat-raised-button color="primary">Read More</button>

  <div class="action">
    <mat-icon (click)="bookEdit()" class="icon"> edit</mat-icon>
    <mat-icon (click)="bookDelete()" class="icon">delete</mat-icon>
   </div>
</div>
