@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 500 100%/1.4 system-ui;
  background-color: #ccc;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0rem;
  padding: 1rem;
}

.card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  background: #f8f3e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;

  &:hover {
    cursor: pointer;
    animation: fronte .3s linear forwards;

    .btn{
      display:block;
      transition: opacity 2.5s, visibility 2.5s;
      opacity: 1;
      visibility: visible;
    }
  .action {
    visibility: visible;
    opacity: 1;
    transition: opacity 2.5s, visibility 2.5s;
  }
}
}

.card > img {
  width: 80%;
  max-height: 500px;
  margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card > h2 {
  margin-top: 1rem;
  font-family: "Kalam", cursive;
  font-weight: normal;
  font-size: 2rem;
  color: #4a4a7d;
  text-align: center;
}

.card > p {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: #5e5e89;
  text-align: center;
}

 .action {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
  padding: 5px;

  mat-icon {
    padding: 5px;
  }
}

.icon{
  color: #413832;
  &:hover{
    color: dimgrey;
  }
}

.btn{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
  padding: 5px;
}

.review{
  padding-top: 20px;
}

@keyframes fronte {
  from { z-index: 0; opacity: 0.5; }
  to { z-index: 2; transform: scale(1.1); opacity: 1; }
}
