<div class="conteiner">
  <h2 class="title">Add Book</h2>
  <div class="wrapper">
    <div class="underline"></div>
    <div class="row">
      <div class="column">
        <mat-form-field class="input-wrapper">
          <mat-label>Title</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <mat-form-field class="input-wrapper">
          <mat-label>Cover</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <mat-form-field class="input-wrapper">
          <mat-label>Genre</mat-label>
          <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="input-wrapper">
          <mat-label>Author</mat-label>
          <input type="text" matInput>
        </mat-form-field>

      </div>

      <div class="column">
        <textarea placeholder="Content"></textarea>
      </div>
    </div>
    <div class="action">
      <button class="btn" mat-raised-button color="accent">Add</button>
      <button class="btn" mat-raised-button color="primary">Clear</button>
    </div>
  </div>
</div>
