@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

.conteiner {
  padding: 5px;
  margin: 5px;
  border: 1px solid #413832;
}

.accordion-title {
  background: whitesmoke;
}

.title {
  padding: 5px 10px;
  color: #413832;
  font-size: 1.5rem;
  border-bottom: 3px solid #413832;
  background: white;
}

.row {
  display: flex;

  .column {
    flex: 20%;
    display: flex;
    flex-direction: column;

    .input-wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      font-size: 10px
    }

    input {
      width: 100%;
      float: right;
    }

    textarea {
      background: #f7f7f7;
      height: 100%;
      margin-bottom: 25px;
      margin-right: 20px;
      padding: 10px;
      resize: none;
    }
  }
}

.action {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

  .btn {
    margin: 0 10px;
    width: 100px;
  }
}

.wrapper {
  z-index: 1;
  transform: translateY(0%);
}

.cover-wrapper{
  display: flex;
  padding-right: 20px;

  .input-wrapper{
    width: 100%;
  }

  button{
    font-size: 12px;
    height: 35px;
  }
}

mat-panel-title {
  font-size: 14px;
  font-family: JetBrains Mono, monospace;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #e4bb68;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 10s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 10s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  transform: translate(-40vmin, 5vmin);
}

.en {
  color: #fa8231;
}

.es {
  color: white;
}

.de {
  color: #c678dd;
}

.it {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .row {
    .column {
      textarea {
        margin: 0 20px 0 20px;
      }

      .textarea-error {
        margin: 0 20px
      }
    }
  }
  .action {
    padding: 10px;
  }

  .cover-wrapper{
    flex-direction: column;
    padding: 0px;

    .input-wrapper{
      width: auto;
    }

    button{
      margin: 0 20px 20px;
    }
  }
}
