.categories {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background: #335C7D;
  z-index: 1;

  ::ng-deep .mat-form-field-flex {
    background: whitesmoke !important;
    border-radius: 5px !important;
    padding: 3px !important;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding: 0px !important;
  }

  ::ng-deep .mat-form-field-underline {
    bottom: 0 !important;
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0;

    li {
      margin: 5px;
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
    }

    .active {
      background-color: bisque;
    }
  }

  .search {
    margin-left: auto;
  }
}

.book-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: whitesmoke;
  padding: 0 10px;
}

.book {
  width: 16%;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .book {
    width: 100%;
  }

  .search {
    display: none;
  }

  .categories {
    ul {
      padding: 0;
      .recommended {
        display: none
      }
    }
  }
}
