<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
<div class="conteiner">
  <div class="categories">
    <ul>
      <li>
        <mat-form-field>
          <mat-label>Get all books</mat-label>
          <mat-select class="topunit" [(ngModel)]="selectedBooksSorted">
            <mat-option (click)="getAllBooks(book.value)" *ngFor="let book of booksSorted" [value]="book.value">
              {{book.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Recommended</mat-label>
          <mat-select class="topunit" [(ngModel)]="selectedRecomendedBooks">
            <mat-option (click)="getTopRate(genre)" *ngFor="let genre of genres" [value]="genres">
              {{genre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </li>
    </ul>
    <app-search [searchBook]="booksSearch" (resultBook)="updateBooks($event)" class="search"></app-search>

  </div>
  <div class="book-list">
    <div *ngFor="let book of books" class="book">
      <app-book [book]="book"></app-book>
    </div>
  </div>
</div>
