<ngx-ui-loader [loaderId]="'book-view-loader'"></ngx-ui-loader>
<div class="conteiner" *ngIf="isload">
  <div class="book-card">
    <button (click)="closeDialog()" class="close" mat-button>X</button>
    <div class="row">
      <div class="cover">
        <img class="img" [src]="book.cover" alt="{{book.title}}">
      </div>
      <div class="description">
        <h2 class="title">{{book.title}}</h2>

        <div class="reactions-wrapper">
          <p class="rating"><b>Author:</b> {{book.author}}</p>
          <p class="rating"><b>Rating:</b> {{book.rating | number}}</p>
        </div>
        <div class="reviews" *ngIf="review">
          <div class="reviews-text">
            <p class="msg"> {{ review.message}}</p>
            <p class="reviewer">{{ review.reviewer}}</p>
          </div>
          <div class="reviews-action">
            <ul class="pagination modal">
              <li (click)="getNextReview('previous')">
                <p [ngClass]="reviewPrevious ? '': 'disable'" class="prev">Previous</p>
              </li>
              <li (click)="getNextReview('next')">
                <p [ngClass]="reviewNext ? '': 'disable'" class="next">Next</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 class="read">Read online</h3>
    <div class="content">
      {{book.content}}
    </div>
  </div>
</div>
