* {
  box-sizing: border-box;
}

.conteiner {
  max-height: 100vh;
  position: relative;
  min-width: 500px;
}

.row {
  display: flex;
}

.description-wrapper {
  display: flex;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    max-height: 300px;
    max-width: 100%;
  }
}

.description {
  width: 100%;
  padding: 10px;

  .title {
    text-align: center;
    margin: 0px;
  }
}

.read {
  text-align: center;
  font-size: 19px;
}

.content {
  max-width: 100%;
  word-break: break-all;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.reactions-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 18px;
}

.reviews-action {
  text-align: center;
}

.reviews-text {
  .msg {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  .reviewer {
    text-align: center;
  }
}


.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.pagination li {
  display: inline;
  text-align: center;
}

.pagination p {
  float: left;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}

.pagination p:active {
  outline: none;
}

.modal p {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: #468599;
  transform: translateY(0);
  transition: all .3s ease-out;
  user-select: none;

  &.disable {
    cursor: not-allowed;
    background-color: gray;
  }
}

.modal p.prev {
  border-radius: 50px 0 0 50px;
  width: 100px;
}

.modal p.next {
  border-radius: 0 50px 50px 0;
  width: 100px;
}

.modal p:hover {
  background-color: #FFA100;
  color: #fff;
  font-weight: 1000;
  transform: translateY(1px);
  transition: all .3s ease-out;
  cursor: pointer;

  &.disable {
    cursor: not-allowed;
    background-color: gray;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.modal p.active,
.modal p:active {
  background-color: #FFA100;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 19px;
  min-width: auto;
}

.add-review {
  text-align: center;
  a {
    color: #673ab7;
    cursor: pointer;
  }
}

.read-mode {
  height: 90vh;

  .book-card {
    display: none;
  }

  .content-wrapper {
    height: 100%;
  }

  .content {
    max-height: 100%;
    height: 90%;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 56px;
  height: 26px;
  background-color: rgba(17, 17, 17, .4);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  transition: all .3s ease-out;
  cursor: pointer;
  &:hover{
    background-color: rgba(17, 17, 17, .8);
  }
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:focus+.label .ball {
  transform: translateX(32px);
}

.mode {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  cursor: pointer;
  padding: 5px;

  .read,
  .view {
    width: 22px;
  }
}

::ng-deep .backdropBackground {
  filter: blur(10px);
  background-color: rgb(212, 182, 58) !important;
  ;
  opacity: 0.15 !important;

}

@media screen and (max-width: 900px) {
  .conteiner{
    min-width: auto;
  }
  .row {
    flex-direction: column;
  }

  .description {
    padding: 0px;
    padding-top: 10px;
  }

  .title {
    font-size: 16px;
  }

  .reviews-text {
    .msg {
      font-size: 12px;
    }
  }

  .reactions-wrapper {
    font-size: 12px;
  }

}
