
h1 {
	color: green;
	text-align: center;
}
.redfamily {
	color: red;
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 5px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {

	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
	display: none;
}
